@import '../../../variables';

div.box {
    margin: auto;
    width: 80%;

    h3 {
        font-family: $font-Escrito;
        text-align: center;
    }

    div.box-written{
        background: url(../../../images/bg-waves.png);
        background-color: #f0f8ffa8;
        margin-top: 2em;
        padding: 1em;
        border-radius: 1em;
        box-shadow: #ffc10787 4px -4px 20px 10px;
        overflow: hidden;
        max-height: 20em;
    }
        
}