@import './variables';

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,#5f482d,#e52e71);
    border-radius: 18px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

html::-webkit-scrollbar {
    width: 1em;
}

html::-webkit-scrollbar-track {
    /*background: linear-gradient(90deg,#201c29,#201c29 1px,#100e17 0,#100e17);*/
    /*background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,175,75,1) 32%, rgba(255,146,10,1) 69%, rgba(255,146,10,1) 100%);*/
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(241,231,103,1) 30%, rgba(181,132,65,1) 65%, rgba(181,132,65,1) 100%);
}

body{font-family:$font-depagina}

.container-app {
    display: grid;
    grid-template-columns: auto 75% auto;
    min-height: 100Vh;
}

.container {
    background-color: #57a1a966;
    padding-top: 6rem;
}

#fondo {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
}

section.Home {
    text-align: center;

    h2 {
        font-family: $font-Titulo;
        font-size: 3em;
    }

    img.avatar {
        width: 40%;
        margin: auto;
    }
}

section.Container {
    h2 {
        font-family: $font-Titulo;
        font-size: 4em;
        text-align: center;
    }
}

section.Admin {
    h2 {
        font-family: $font-Titulo;
        font-size: 4em;
        text-align: center;
    }

    h3 {
        font-family: $font-Escrito;
        font-size: 4em;
        text-align: center;
    }
}

